# Android development environment
# Due to NixOS dynamic linking requirements, use the FHS environment:
#   nix run .#android-env
# Or for a single command:
#   nix run .#android-env -- -c "./gradlew assembleDebug"

use flake
