<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="Korri Signer Test"
        android:theme="@style/SignerTestTheme">
        <activity
            android:name=".SignerActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="nostrsigner" />
            </intent-filter>
        </activity>
        <provider
            android:name=".SignerProvider"
            android:authorities="org.korri.signer.test.SIGN_EVENT"
            android:exported="true" />
    </application>
</manifest>
